@import "tailwindcss";

@font-face {
  font-family: "Rye";
  src: url("./Rye/Rye-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Rye;
}
